<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.oestjacobsen.android.get2gether"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYMG6e9ZSCqX2MQ4AEQIeV2BX_n7jeERE"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name=".view.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.login.PincodeActivity"/>
        <activity android:name=".view.MainMenuActivity"/>
        <activity
            android:name=".view.groups.GroupsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.friends.FriendsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.profile.ProfileActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.options.AboutActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.options.HelpActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.profile.EditProfileActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.friends.AddFriendActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.groups.SelectedGroupActivity"/>
        <activity android:name=".view.groups.NewGroupActivity">
        </activity>
        <activity android:name=".view.groups.AddGroupMemberActivity">
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name"/>

        <service android:name=".services.LocationService" />
        <service android:name=".services.BeaconCollecterService" />
    </application>

</manifest>